@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "general_sans";
  src: local("general_sans"), 
  url("../fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "light_sans";
  src: url("../fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/OTF/GeneralSans-Light.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "work_sans";
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "medium_sans";
  src: url("../fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/OTF/GeneralSans-Medium.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("opentype");
  font-weight: normal;
}
body{
  font-family: "general-sans", "light_sans","regular_sans",'medium_sans' ;
}